*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
  }
  
 
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  
    @media (min-width: 768px) {
        .container {
        max-width: 720px;
        }
    }
  
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
 
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  



.heading{
    display: flex;
    align-items: center;
  justify-content: center;
 
  width: 30%;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #C8C8C8; /* Light grey color for the line */
  }
.title{
    color: #FF6B82;
    margin: 0 10px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;

}



.box1{
    border: 2px solid #C8C8C8;
    width: 30%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 20px;
    padding: 20px 25px;
}

.box2{
    border: 2px solid #C8C8C8;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 25px;
}
.box3{
    border: 2px solid #C8C8C8;
    width: 30%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 20px;
    padding: 20px 25px;
}


.box-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
}

.inner-box-1{
    display: flex;
    align-items: center;
    gap: 10px;
  
}

@media (max-width: 992px) {
    .container{
        padding: 20px;
        margin-top: 10px;
    }
    .content1,.content2,.content13{
       margin: 0px !important;
    }
    .select-container{
        justify-content: center !important;
    }
    .box-container {
      flex-direction: column;
    }
    .box1{
        width: 100%;
    }
    .heading{
        width: 100%;
    }
    .free-delivery{
        width: 100% !important;
    }
    .btn{
        width: 100% !important;
    }

    .box2{
        width: 100%;
    }
    .box3{
        width: 100%;
    }
  }


.inner-box-2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
   
  
}
.line-over{
    font-size: 13px;
    text-decoration: line-through;
    color: grey;
}

.radio-button{
    color: #FF6B82;
    align-self:flex-start;
    margin-top: 8px;
    
}

.label{
    background-color: #FF6B82;
    color: white;
    padding: 3px 6px;
    margin-left: 10px;
    font-size: 14px;
}
.unit-text{
    font-size: 18px;
}

.unit-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.usd-price{
    font-size: 18px;
    font-weight: 500;

}




input[type="radio"]:checked {
      accent-color: red;
       /* This changes the color of the radio button when selected */
    }



    .content1{
        margin-left: 40px;
        display: none;
    }

    .content2{
        margin-left: 40px;
        display: none;
    }

    .content3{
        margin-left: 40px;
        display: none;
    }


   

    .select-container{
        display: flex;
        gap: 15px;
    }

    .select1 .size{
        font-size:14px ;
    }

    .select2 .colour{
        font-size:14px ;
    }

    .select-heading{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 20px;
        

    }

    .select-heading div{
        font-size: 13px;
    }

    .select1{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .select2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    select{
        width: 80px;
        padding: 4px;
    }

    select:hover{
       cursor: pointer;
    }


    .free-delivery{
            display: flex;
            justify-content: space-between;
            width: 30%;
    }
    .total{
       font-weight: 500;
    }

    .free-text{
        color: #FF6B82;
    }
    

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FF6B82;
    border-style: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;

}

button, .box1, .box2 ,.box3 :hover {
    cursor: pointer;
  }

 

button span{
    font-size: 25px;
}
.btn{
    width: 30%;
    
}

.btn p{
    padding-top: 5px;
    text-align: end;
    font-size: 14px;
    font-style: italic;
    color: #00000066;
    
}

.box1.active {
    background-color: #f9eef0;
    border: 2px solid #FF6B82;
}

.box2.active {
    background-color: #f9eef0;
    border: 2px solid #FF6B82;
}

.box3.active {
    background-color: #f9eef0;
    border: 2px solid #FF6B82;
}



.ribbon {
    position: absolute;
    top: -10px;
    right: 10px;
    background-color: #FF6B82;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }